---
layout: page
title:  Archive
permalink: /archive/
---

<div class="archive">
  <div class="timeline" id="timeline">
    {% assign posts_by_year = site.posts | group_by_exp:"post", "post.date | date: '%Y' " %}
    {% for group in posts_by_year %}
      <div class="archive-title">
        <h4 class="archive-year" style="font-size:0.9em">{{ group.name }}</h4>
      </div>

      <ul>
      {% for post in group.items %}
        <li style="font-size:0.85em"><div style="float:left;margin-right:0.6em">{{ post.date | date: "%b %-d" }}</div> <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>

    {% endfor %}
  </div>

</div>
